body{
    background-color: antiquewhite;
    text-align: center;
}
h1{
    font-size: 90px;
}
h2{
    font-size: 40px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 30px;
}
#divmama{
display: flex;

}

